Repository magicink/twine-campfire: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc.json:

{
  "*.json": "sort-package-json",
  "*.{js,jsx,json,md,mdx,mjs,ts,tsx}": "prettier --write"
}

feat(vscode): improve campfire directive highlighting
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

chore(vscode): drop twee3 syntax embedding
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

feat(vscode): improve campfire directive highlighting (#761)
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

feat(campfire-vscode): add passage navigation definitions
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix: address review feedback
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix: prioritize passage attribute in goto definitions
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

feat: enable passage navigation from Campfire goto and autolinks (#762)
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix(vscode-extension): correct deck snippet
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

chore: remove twee3 vscode extension
  README.md
  projects/twee3-vscode-extension/LICENSE
  projects/twee3-vscode-extension/README.md
  projects/twee3-vscode-extension/language-configuration.json
  projects/twee3-vscode-extension/package.json
  projects/twee3-vscode-extension/snippets/twee3.code-snippets
  projects/twee3-vscode-extension/src/extension.ts
  projects/twee3-vscode-extension/syntaxes/twee3.tmLanguage.json
  projects/twee3-vscode-extension/tsconfig.json
Due: sort-package-json, prettier --write

fix: correct deck snippet placeholders (#763)
  README.md
  projects/campfire-vscode-extension/src/extension.ts
  projects/twee3-vscode-extension/LICENSE
  projects/twee3-vscode-extension/README.md
  projects/twee3-vscode-extension/language-configuration.json
  projects/twee3-vscode-extension/package.json
  projects/twee3-vscode-extension/snippets/twee3.code-snippets
  projects/twee3-vscode-extension/src/extension.ts
  projects/twee3-vscode-extension/syntaxes/twee3.tmLanguage.json
  projects/twee3-vscode-extension/tsconfig.json
Due: sort-package-json, prettier --write

docs: remove for directive notes from VS Code README
  projects/campfire-vscode-extension/README.md
Due: prettier --write

docs: remove for directive notes from VS Code README (#764)
  projects/campfire-vscode-extension/README.md
Due: prettier --write

feat(vscode): enhance directive snippets and sync versioning process
  .github/copilot-instructions.md
  .husky/pre-commit
  AGENTS.md
  package.json
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  scripts/sync-version.ts
Due: sort-package-json, prettier --write

feat(vscode): update extension version to 1.0.0 and sync with monorepo root
  .husky/pre-commit
  projects/campfire-vscode-extension/package.json
  scripts/sync-version.ts
Due: sort-package-json, prettier --write

feat: update package names and synchronize versions across subpackages
  .husky/pre-commit
  apps/campfire/package.json
  scripts/sync-version.ts
Due: sort-package-json, prettier --write

feat(vscode): enhance directive snippets and sync versioning process (#765)
  .github/copilot-instructions.md
  .husky/pre-commit
  AGENTS.md
  apps/campfire/package.json
  package.json
  projects/campfire-vscode-extension/package.json
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  scripts/sync-version.ts
Due: sort-package-json, prettier --write

fix(passage): remove redundant typeof checks in Passage component
  apps/campfire/src/components/Passage/Passage.tsx
Due: prettier --write

chore(husky): remove sourcing of _/husky.sh from pre-commit hook
  .husky/pre-commit
Due: none

docs(husky): document that .husky/_/husky.sh is ignored; avoid sourcing it in hooks
  .github/copilot-instructions.md
  AGENTS.md
Due: prettier --write

docs(agents): remove unnecessary bullet point from AGENTS.md
  AGENTS.md
Due: prettier --write

fix(passage): remove redundant typeof checks in Passage component (#766)
  .github/copilot-instructions.md
  .husky/pre-commit
  AGENTS.md
  apps/campfire/src/components/Passage/Passage.tsx
Due: prettier --write

fix: update orientation handling to accept string type for lock methods
  apps/campfire/src/hooks/__tests__/orientationController.test.tsx
  apps/campfire/src/hooks/useDirectiveHandlers.ts
  apps/campfire/src/hooks/useOrientationController.ts
  projects/campfire-vscode-extension/package.json
Due: sort-package-json, prettier --write

fix: update orientation handling to accept string type for lock methods (#767)
  apps/campfire/src/hooks/__tests__/orientationController.test.tsx
  apps/campfire/src/hooks/useDirectiveHandlers.ts
  apps/campfire/src/hooks/useOrientationController.ts
  projects/campfire-vscode-extension/package.json
Due: sort-package-json, prettier --write

fix: enforce leaf-only preset directive
  apps/campfire/src/hooks/__tests__/deckDirective.test.tsx
  apps/campfire/src/hooks/__tests__/embedDirective.test.tsx
  apps/campfire/src/hooks/__tests__/imageDirective.test.tsx
  apps/campfire/src/hooks/__tests__/layerDirective.test.tsx
  apps/campfire/src/hooks/__tests__/revealDirective.test.tsx
  apps/campfire/src/hooks/__tests__/shapeDirective.test.tsx
  apps/campfire/src/hooks/__tests__/slideDirective.test.tsx
  apps/campfire/src/hooks/__tests__/textDirective.test.tsx
  apps/campfire/src/hooks/__tests__/wrapperDirective.test.tsx
  apps/campfire/src/hooks/useDirectiveHandlers.ts
  apps/storybook/src/directives/DeckBasic.stories.tsx
  apps/storybook/src/directives/Radio.stories.tsx
  docs/directives/navigation-composition.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

fix: enforce leaf-only preset directive (#768)
  apps/campfire/src/hooks/__tests__/deckDirective.test.tsx
  apps/campfire/src/hooks/__tests__/embedDirective.test.tsx
  apps/campfire/src/hooks/__tests__/imageDirective.test.tsx
  apps/campfire/src/hooks/__tests__/layerDirective.test.tsx
  apps/campfire/src/hooks/__tests__/revealDirective.test.tsx
  apps/campfire/src/hooks/__tests__/shapeDirective.test.tsx
  apps/campfire/src/hooks/__tests__/slideDirective.test.tsx
  apps/campfire/src/hooks/__tests__/textDirective.test.tsx
  apps/campfire/src/hooks/__tests__/wrapperDirective.test.tsx
  apps/campfire/src/hooks/useDirectiveHandlers.ts
  apps/storybook/src/directives/DeckBasic.stories.tsx
  apps/storybook/src/directives/Radio.stories.tsx
  docs/directives/navigation-composition.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

fix: allow inline translation directive
  apps/campfire/src/components/Passage/__tests__/Passage.i18n.test.tsx
  apps/campfire/src/components/Passage/__tests__/Select.directive.test.tsx
  apps/campfire/src/hooks/handlers/formHandlers.ts
  apps/campfire/src/hooks/handlers/i18nHandlers.ts
  apps/campfire/src/utils/scanDirectives.ts
  docs/directives/inputs-and-events.md
  docs/directives/localization.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix: allow inline translation directive (#769)
  apps/campfire/src/components/Passage/__tests__/Passage.i18n.test.tsx
  apps/campfire/src/components/Passage/__tests__/Select.directive.test.tsx
  apps/campfire/src/hooks/handlers/formHandlers.ts
  apps/campfire/src/hooks/handlers/i18nHandlers.ts
  apps/campfire/src/utils/scanDirectives.ts
  docs/directives/inputs-and-events.md
  docs/directives/localization.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

refactor: process passage text on main thread
  apps/campfire/globals.d.ts
  apps/campfire/src/components/Passage/Passage.tsx
  apps/campfire/src/components/Passage/directiveWorker.ts
Due: prettier --write

fix: process passage text on main thread (#772)
  apps/campfire/globals.d.ts
  apps/campfire/src/components/Passage/Passage.tsx
  apps/campfire/src/components/Passage/directiveWorker.ts
Due: prettier --write

fix: process passage text on main thread (#772) (#773)
  apps/campfire/globals.d.ts
  apps/campfire/src/components/Passage/Passage.tsx
  apps/campfire/src/components/Passage/directiveWorker.ts
Due: prettier --write

feat: remove else directive
  apps/campfire/package.json
  apps/campfire/src/components/Campfire/__tests__/Campfire.test.tsx
  apps/campfire/src/components/Passage/If.tsx
  apps/campfire/src/components/Passage/__tests__/If.test.tsx
  apps/campfire/src/components/Passage/__tests__/Passage.lifecycle.test.tsx
  apps/campfire/src/hooks/handlers/controlFlowHandlers.ts
  apps/campfire/src/hooks/useSerializedDirectiveRunner.ts
  apps/campfire/src/rehype-campfire/__tests__/index.test.ts
  apps/campfire/src/rehype-campfire/index.ts
  apps/storybook/src/directives/If.stories.tsx
  docs/directives/conditional-logic-and-iteration.md
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/language-configuration.json
  projects/campfire-vscode-extension/package.json
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

feat: remove else directive (#775)
  apps/campfire/package.json
  apps/campfire/src/components/Campfire/__tests__/Campfire.test.tsx
  apps/campfire/src/components/Passage/If.tsx
  apps/campfire/src/components/Passage/__tests__/If.test.tsx
  apps/campfire/src/components/Passage/__tests__/Passage.lifecycle.test.tsx
  apps/campfire/src/hooks/handlers/controlFlowHandlers.ts
  apps/campfire/src/hooks/useSerializedDirectiveRunner.ts
  apps/campfire/src/rehype-campfire/__tests__/index.test.ts
  apps/campfire/src/rehype-campfire/index.ts
  apps/storybook/src/directives/If.stories.tsx
  docs/directives/conditional-logic-and-iteration.md
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/language-configuration.json
  projects/campfire-vscode-extension/package.json
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

fix(vscode): restrict leaf-only directives
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

fix: restore container boundaries after Twine trimming
  apps/campfire/package.json
  apps/campfire/src/utils/__tests__/normalizeDirectiveIndentation.test.ts
  apps/campfire/src/utils/normalizeDirectiveIndentation.ts
  projects/campfire-vscode-extension/package.json
Due: sort-package-json, prettier --write

fix: remove redundant fallbacks in container restoration
  apps/campfire/src/utils/normalizeDirectiveIndentation.ts
Due: prettier --write

fix: restore directive boundaries after Twine whitespace trimming (#778)
  apps/campfire/package.json
  apps/campfire/src/utils/__tests__/normalizeDirectiveIndentation.test.ts
  apps/campfire/src/utils/normalizeDirectiveIndentation.ts
  projects/campfire-vscode-extension/package.json
Due: sort-package-json, prettier --write

test: cover getStoryTitle directive usage
  apps/campfire/globals.d.ts
  apps/campfire/src/components/Campfire/__tests__/Campfire.test.tsx
  apps/campfire/src/state/useStoryDataStore/index.ts
Due: prettier --write

chore: remove redundant global helper semicolon
  apps/campfire/src/state/useStoryDataStore/index.ts
Due: prettier --write

docs: update helper usage guidance
  README.md
  docs/helper-functions.md
Due: prettier --write

docs: update helper usage guidance (#783)
  README.md
  docs/helper-functions.md
Due: prettier --write
