Repository magicink/twine-campfire: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

fix: enforce container-only eval directive
  apps/campfire/src/components/Passage/__tests__/Passage.lifecycle.test.tsx
  apps/campfire/src/components/Passage/__tests__/Passage.state.test.tsx
  apps/campfire/src/hooks/handlers/stateHandlers.ts
  apps/campfire/src/hooks/useDirectiveHandlers.ts
  docs/directives/variables-and-state.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix: differentiate eval directive validation errors
  apps/campfire/src/components/Passage/__tests__/Passage.state.test.tsx
  apps/campfire/src/hooks/handlers/stateHandlers.ts
Due: prettier --write

fix: validate eval directive metadata in vscode
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix(extension): highlight eval blocks as javascript
  apps/campfire/src/components/Passage/__tests__/Passage.lifecycle.test.tsx
  apps/campfire/src/components/Passage/__tests__/Passage.state.test.tsx
  apps/campfire/src/hooks/handlers/stateHandlers.ts
  apps/campfire/src/hooks/useDirectiveHandlers.ts
  docs/directives/variables-and-state.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

fix: sandbox eval directive execution
  apps/campfire/package.json
  apps/campfire/src/hooks/handlers/stateHandlers.ts
  bun.lock
  docs/directives/variables-and-state.md
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

fix: harden eval handler typing
  apps/campfire/src/hooks/handlers/stateHandlers.ts
Due: prettier --write

refactor: organize eval directive scope utilities
  apps/campfire/src/hooks/handlers/stateHandlers.ts
Due: prettier --write

feat: implement container-only eval directive (#785)
  apps/campfire/package.json
  apps/campfire/src/components/Passage/__tests__/Passage.lifecycle.test.tsx
  apps/campfire/src/components/Passage/__tests__/Passage.state.test.tsx
  apps/campfire/src/hooks/handlers/stateHandlers.ts
  apps/campfire/src/hooks/useDirectiveHandlers.ts
  bun.lock
  docs/directives/variables-and-state.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

fix: restore unset directive handler guard
  apps/campfire/src/hooks/handlers/stateHandlers.ts
Due: prettier --write

test(hooks): cover unset directive handler guard
  apps/campfire/src/hooks/__tests__/unsetDirective.test.tsx
Due: prettier --write

fix(hooks): clarify unset key derivation
  apps/campfire/src/hooks/handlers/stateHandlers.ts
Due: prettier --write

fix: restore unset directive handler guard (#786)
  apps/campfire/src/hooks/__tests__/unsetDirective.test.tsx
  apps/campfire/src/hooks/handlers/stateHandlers.ts
Due: prettier --write

test: register happydom for text directive suite
  apps/campfire/src/hooks/__tests__/textDirective.test.tsx
Due: prettier --write

test: register happydom for text directive suite (#787)
  apps/campfire/src/hooks/__tests__/textDirective.test.tsx
Due: prettier --write

fix: stabilize happy dom registration
  happydom.ts
Due: prettier --write

fix: stabilize happy dom registration (#788)
  happydom.ts
Due: prettier --write

ci: pin bun version for ci stability
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

ci: pin bun version for ci stability (#789)
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

ci: pin bun to v1.2.22
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

ci: pin bun to v1.2.22 (#790)
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat!: remove eval directive support
  apps/campfire/package.json
  apps/campfire/src/components/Passage/__tests__/Passage.lifecycle.test.tsx
  apps/campfire/src/components/Passage/__tests__/Passage.state.test.tsx
  apps/campfire/src/hooks/handlers/stateHandlers.ts
  apps/campfire/src/hooks/useDirectiveHandlers.ts
  bun.lock
  docs/directives/variables-and-state.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

feat: remove eval directive support (#793)
  apps/campfire/package.json
  apps/campfire/src/components/Passage/__tests__/Passage.lifecycle.test.tsx
  apps/campfire/src/components/Passage/__tests__/Passage.state.test.tsx
  apps/campfire/src/hooks/handlers/stateHandlers.ts
  apps/campfire/src/hooks/useDirectiveHandlers.ts
  bun.lock
  docs/directives/variables-and-state.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

feat: remove eval directive support (#793) (#794)
  apps/campfire/package.json
  apps/campfire/src/components/Passage/__tests__/Passage.lifecycle.test.tsx
  apps/campfire/src/components/Passage/__tests__/Passage.state.test.tsx
  apps/campfire/src/hooks/handlers/stateHandlers.ts
  apps/campfire/src/hooks/useDirectiveHandlers.ts
  bun.lock
  docs/directives/variables-and-state.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

ci: sync release package versions
  .github/workflows/release.yml
Due: none

ci: sync release package versions (#796)
  .github/workflows/release.yml
Due: none

docs: remove directive grouping sentence
  README.md
Due: prettier --write

docs: remove directive grouping sentence (#798)
  README.md
Due: prettier --write

refactor(deck): reuse passage component map
  apps/campfire/src/components/Deck/Slide/renderDirectiveMarkdown.ts
  apps/campfire/src/components/Passage/componentMap.ts
Due: prettier --write

test: reuse container directive helper
  apps/campfire/src/components/Passage/__tests__/Checkbox.directive.test.tsx
  apps/campfire/src/components/Passage/__tests__/Input.directive.test.tsx
  apps/campfire/src/components/Passage/__tests__/Radio.directive.test.tsx
  apps/campfire/src/components/Passage/__tests__/Textarea.directive.test.tsx
  apps/campfire/src/test-utils/formFieldTests.tsx
Due: prettier --write

test: reuse container directive helper (#800)
  apps/campfire/src/components/Passage/__tests__/Checkbox.directive.test.tsx
  apps/campfire/src/components/Passage/__tests__/Input.directive.test.tsx
  apps/campfire/src/components/Passage/__tests__/Radio.directive.test.tsx
  apps/campfire/src/components/Passage/__tests__/Textarea.directive.test.tsx
  apps/campfire/src/test-utils/formFieldTests.tsx
Due: prettier --write

refactor(deck): reuse passage component map (#799)
  apps/campfire/src/components/Deck/Slide/renderDirectiveMarkdown.ts
  apps/campfire/src/components/Passage/componentMap.ts
Due: prettier --write

feat: add passage text helper
  apps/campfire/src/components/Passage/Passage.tsx
  apps/campfire/src/hooks/handlers/navigationHandlers.ts
  apps/campfire/src/hooks/useOverlayProcessor.tsx
  apps/campfire/src/utils/__tests__/core.test.ts
  apps/campfire/src/utils/core.ts
Due: prettier --write

fix: simplify getPassageText text extraction
  apps/campfire/src/utils/core.ts
Due: prettier --write

feat: add passage text helper utility (#801)
  apps/campfire/src/components/Passage/Passage.tsx
  apps/campfire/src/hooks/handlers/navigationHandlers.ts
  apps/campfire/src/hooks/useOverlayProcessor.tsx
  apps/campfire/src/utils/__tests__/core.test.ts
  apps/campfire/src/utils/core.ts
Due: prettier --write

refactor: consolidate form handler normalization
  apps/campfire/src/hooks/handlers/formHandlers.ts
Due: prettier --write

fix: address form handler review feedback
  apps/campfire/src/hooks/handlers/formHandlers.ts
Due: prettier --write

refactor: consolidate form handler normalization (#802)
  apps/campfire/src/hooks/handlers/formHandlers.ts
Due: prettier --write

refactor: share persistence handler scaffold
  apps/campfire/src/hooks/handlers/persistenceHandlers.ts
Due: prettier --write

refactor: share persistence handler scaffold (#803)
  apps/campfire/src/hooks/handlers/persistenceHandlers.ts
Due: prettier --write

Path conditions:
  sort-package-json: any of: *.json
  prettier --write: any of: *.{js,jsx,json,md,mdx,mjs,ts,tsx}
