Repository magicink/twine-campfire: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc.json:

{
  "*.json": "sort-package-json",
  "*.{js,jsx,json,md,mdx,mjs,ts,tsx}": "prettier --write"
}

feat: add slide component
  apps/campfire/src/components/Slide/Slide.tsx
  apps/campfire/src/components/Slide/__tests__/Slide.test.tsx
  apps/campfire/src/components/index.ts
Due: prettier --write

refactor: remove slide default export
  apps/campfire/src/components/Slide/Slide.tsx
  apps/campfire/src/components/Slide/__tests__/Slide.test.tsx
Due: prettier --write

feat: add slide component (#320)
  apps/campfire/src/components/Slide/Slide.tsx
  apps/campfire/src/components/Slide/__tests__/Slide.test.tsx
  apps/campfire/src/components/index.ts
Due: prettier --write

feat(slide): parse directive containers
  apps/campfire/src/components/Slide/Slide.tsx
  apps/campfire/src/components/Slide/__tests__/SlideDirective.test.tsx
  apps/campfire/src/components/Slide/__tests__/renderDirectiveMarkdown.test.tsx
  apps/campfire/src/components/Slide/renderDirectiveMarkdown.ts
  apps/campfire/src/components/index.ts
Due: prettier --write

fix(slide): handle directive hooks dependencies
  apps/campfire/src/components/Slide/Slide.tsx
  apps/campfire/src/components/Slide/__tests__/SlideDirective.test.tsx
Due: prettier --write

feat(slide): support directive hooks on deck slides (#322)
  apps/campfire/src/components/Slide/Slide.tsx
  apps/campfire/src/components/Slide/__tests__/SlideDirective.test.tsx
  apps/campfire/src/components/Slide/__tests__/renderDirectiveMarkdown.test.tsx
  apps/campfire/src/components/Slide/renderDirectiveMarkdown.ts
  apps/campfire/src/components/index.ts
Due: prettier --write

feat: add slide directive lifecycle hooks
  apps/campfire/src/components/Deck/Deck.tsx
  apps/campfire/src/components/Slide/Slide.tsx
  apps/campfire/src/components/Slide/__tests__/SlideDirective.test.tsx
Due: prettier --write

refactor: add vnode type guard for deck slides
  apps/campfire/src/components/Deck/Deck.tsx
Due: prettier --write

feat: add slide directive lifecycle hooks (#324)
  apps/campfire/src/components/Deck/Deck.tsx
  apps/campfire/src/components/Slide/Slide.tsx
  apps/campfire/src/components/Slide/__tests__/SlideDirective.test.tsx
Due: prettier --write

chore: update table styles and add responsive design variables
  template.ejs
Due: none

feat: add Appear component for slide builds
  apps/campfire/src/components/Appear/Appear.tsx
  apps/campfire/src/components/Appear/__tests__/Appear.test.tsx
  apps/campfire/src/components/index.ts
Due: prettier --write

chore: update table styles and add responsive design variables (#327)
  template.ejs
Due: none

fix: use end transform in slide keyframes
  apps/campfire/src/components/Appear/Appear.tsx
Due: prettier --write

docs: fix indentation in README.md for better readability
  README.md
Due: prettier --write

refactor: dedupe animation cleanup in Appear
  apps/campfire/src/components/Appear/Appear.tsx
Due: prettier --write

feat: add Appear component for slide builds (#326)
  apps/campfire/src/components/Appear/Appear.tsx
  apps/campfire/src/components/Appear/__tests__/Appear.test.tsx
  apps/campfire/src/components/index.ts
Due: prettier --write

docs: fix indentation in README.md for better readability (#329)
  README.md
Due: prettier --write

chore: update table styles for improved design and consistency
  template.ejs
Due: none

fix: update table styles for improved design and consistency (#330)
  template.ejs
Due: none

fix: reverted table style changes
  template.ejs
Due: none

fix: reverted table style changes (#332)
  template.ejs
Due: none

fix: update table styles
  template.ejs
Due: none

ci: run tests only on release-candidate merges
  .github/workflows/test.yml
Due: none

fix: update table styles (#335)
  template.ejs
Due: none

ci: run tests only on release-candidate merges (#334)
  .github/workflows/test.yml
Due: none

feat: add layered Text component
  apps/campfire/src/components/Layer/Layer.tsx
  apps/campfire/src/components/Layer/index.ts
  apps/campfire/src/components/Text/Text.tsx
  apps/campfire/src/components/Text/__tests__/Text.test.tsx
  apps/campfire/src/components/index.ts
Due: prettier --write

fix: use proper css values for text styles
  apps/campfire/src/components/Text/Text.tsx
Due: prettier --write

feat: add Text component for positioned typography (#336)
  apps/campfire/src/components/Layer/Layer.tsx
  apps/campfire/src/components/Layer/index.ts
  apps/campfire/src/components/Text/Text.tsx
  apps/campfire/src/components/Text/__tests__/Text.test.tsx
  apps/campfire/src/components/index.ts
Due: prettier --write

feat: add campfire storybook app
  apps/campfire-storybook/.storybook/main.ts
  apps/campfire-storybook/.storybook/preview.ts
  apps/campfire-storybook/package.json
  apps/campfire-storybook/src/Deck.stories.tsx
  apps/campfire-storybook/tsconfig.json
  bun.lock
  package.json
Due: sort-package-json, prettier --write

fix(storybook): resolve @campfire alias
  apps/campfire-storybook/.storybook/main.ts
  apps/campfire-storybook/package.json
  bun.lock
Due: sort-package-json, prettier --write

fix(storybook): resolve packages alias
  apps/campfire-storybook/.storybook/main.ts
Due: prettier --write

feat: add tailwind to storybook
  apps/campfire-storybook/.storybook/preview.ts
  apps/campfire-storybook/package.json
  apps/campfire-storybook/postcss.config.cjs
  apps/campfire-storybook/src/global.d.ts
  apps/campfire-storybook/src/index.css
  apps/campfire-storybook/tailwind.config.ts
  bun.lock
Due: sort-package-json, prettier --write

feat(storybook): add Storybook v9 workspace
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview-head.html
  apps/storybook/package.json
  apps/storybook/src/Button.stories.tsx
  apps/storybook/tsconfig.json
  bun.lock
  package.json
Due: sort-package-json, prettier --write

chore: regenerate bun.lockb
  bun.lockb
Due: none

docs: update AGENTS.md with guidelines for Storybook synchronization
  AGENTS.md
Due: prettier --write

chore(storybook): add Storybook v9 workspace (#339)
  AGENTS.md
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview-head.html
  apps/storybook/package.json
  apps/storybook/src/Button.stories.tsx
  apps/storybook/tsconfig.json
  bun.lock
  bun.lockb
  package.json
Due: sort-package-json, prettier --write

feat(storybook): add Deck component story
  apps/storybook/src/Deck.stories.tsx
Due: prettier --write
