Repository magicink/twine-campfire: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc.json:

{
  "*.json": "sort-package-json",
  "*.{js,jsx,json,md,mdx,mjs,ts,tsx}": "prettier --write"
}

fix(workflows): update release workflow permissions to include issue writing
  .github/workflows/release.yml
Due: none

feat(remark-campfire): add range type
  packages/remark-campfire/__tests__/range.test.tsx
  packages/remark-campfire/directives.ts
  packages/remark-campfire/helpers.ts
Due: prettier --write

fix: refine range parsing and update tests
  packages/remark-campfire/__tests__/range.test.tsx
  packages/remark-campfire/directives.ts
  packages/remark-campfire/helpers.ts
Due: prettier --write

chore(workflows): trigger publish on release creation
  .github/workflows/publish.yml
  CHANGELOG.md
  README.md
Due: prettier --write

chore(workflows): trigger publish on release creation (#4)
  .github/workflows/publish.yml
  CHANGELOG.md
  README.md
Due: prettier --write

feat(remark-campfire): add random directive
  packages/remark-campfire/__tests__/random.test.tsx
  packages/remark-campfire/directives.ts
Due: prettier --write

feat: refine random directive
  packages/remark-campfire/__tests__/random.test.tsx
  packages/remark-campfire/directives.ts
  packages/remark-campfire/helpers.ts
Due: prettier --write

Add random directive to remark-campfire (#5)
  packages/remark-campfire/__tests__/random.test.tsx
  packages/remark-campfire/directives.ts
  packages/remark-campfire/helpers.ts
Due: prettier --write

docs: clarify commit style in AGENTS
  AGENTS.md
Due: prettier --write

docs: clarify commit style in AGENTS (#6)
  AGENTS.md
Due: prettier --write

fix(test-env): await happy-dom unregister
  happydom.ts
Due: prettier --write

fix(test-env): await happy-dom unregister (#7)
  happydom.ts
Due: prettier --write

chore(ci): merge publish workflow into release
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

chore(workflows): setup bun before building
  .github/workflows/release.yml
Due: none

fix: use consistent token when uploading
  .github/workflows/release.yml
Due: none

fix: use github.token for upload
  .github/workflows/release.yml
Due: none

Merge publish and release workflows (#9)
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

feat(remark-campfire): add increment and decrement directives
  packages/remark-campfire/__tests__/increment.test.tsx
  packages/remark-campfire/directives.ts
Due: prettier --write

test(remark-campfire): cover increment expression
  packages/remark-campfire/__tests__/increment.test.tsx
Due: prettier --write

refactor(remark-campfire): deduplicate variable validation
  packages/remark-campfire/directives.ts
  packages/remark-campfire/helpers.ts
Due: prettier --write

refactor(remark-campfire): add helpers and cleanup
  packages/remark-campfire/__tests__/increment.test.tsx
  packages/remark-campfire/directives.ts
  packages/remark-campfire/helpers.ts
Due: prettier --write

feat(remark-campfire): support increment and decrement directives (#10)
  packages/remark-campfire/__tests__/increment.test.tsx
  packages/remark-campfire/directives.ts
  packages/remark-campfire/helpers.ts
Due: prettier --write

feat(remark-campfire): add unset directive
  packages/remark-campfire/__tests__/unset.test.tsx
  packages/remark-campfire/directives.ts
  packages/use-game-store/__tests__/index.test.ts
  packages/use-game-store/index.ts
Due: prettier --write

fix(remark-campfire): ensure unset directive removes node after update
  packages/remark-campfire/directives.ts
Due: prettier --write

Add unset directive (#12)
  packages/remark-campfire/__tests__/unset.test.tsx
  packages/remark-campfire/directives.ts
  packages/use-game-store/__tests__/index.test.ts
  packages/use-game-store/index.ts
Due: prettier --write

fix(remark-campfire): replace variable attr with key
  packages/remark-campfire/__tests__/increment.test.tsx
  packages/remark-campfire/__tests__/random.test.tsx
  packages/remark-campfire/__tests__/unset.test.tsx
  packages/remark-campfire/directives.ts
  packages/remark-campfire/helpers.ts
Due: prettier --write

fix(remark-campfire): replace variable attr with key (#13)
  packages/remark-campfire/__tests__/increment.test.tsx
  packages/remark-campfire/__tests__/random.test.tsx
  packages/remark-campfire/__tests__/unset.test.tsx
  packages/remark-campfire/directives.ts
  packages/remark-campfire/helpers.ts
Due: prettier --write

fix(template): reorder story data for correct rendering
  template.ejs
Due: none

fix(template): remove double stringification
  build-format.mjs
Due: prettier --write

fix(apps/campfire): inject NODE_ENV for react
  apps/campfire/package.json
  apps/campfire/rollup.config.mjs
  bun.lock
Due: sort-package-json, prettier --write

fix(apps/campfire): inject NODE_ENV for react (#17)
  apps/campfire/package.json
  apps/campfire/rollup.config.mjs
  bun.lock
Due: sort-package-json, prettier --write

fix(apps/campfire): update root element ID in campfire main file
  apps/campfire/src/main.tsx
Due: prettier --write

fix(template): add absolute positioning classes to html and body for proper layout
  template.ejs
Due: none

feat(remark-campfire): add setOnce directive
  packages/remark-campfire/__tests__/set-once.test.tsx
  packages/remark-campfire/directives.ts
  packages/use-game-store/index.ts
Due: prettier --write

feat(remark-campfire): add setOnce directive (#21)
  packages/remark-campfire/__tests__/set-once.test.tsx
  packages/remark-campfire/directives.ts
  packages/use-game-store/index.ts
Due: prettier --write

feat(campfire): add tabbed debug window
  apps/campfire/__tests__/DebugWindow.test.tsx
  apps/campfire/src/DebugWindow.tsx
  apps/campfire/src/Story.tsx
Due: prettier --write

fix: handle debug option string
  apps/campfire/__tests__/DebugWindow.test.tsx
  apps/campfire/src/DebugWindow.tsx
Due: prettier --write

feat(campfire): improve debug window accessibility
  apps/campfire/__tests__/DebugWindow.test.tsx
  apps/campfire/src/DebugWindow.tsx
Due: prettier --write

feat(apps/campfire): add tabbed debug window (#23)
  apps/campfire/__tests__/DebugWindow.test.tsx
  apps/campfire/src/DebugWindow.tsx
  apps/campfire/src/Story.tsx
Due: prettier --write

fix(apps/campfire): include root template in tailwind
  apps/campfire/tailwind.config.ts
Due: prettier --write
