Repository magicink/twine-campfire: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

fix(vscode): clarify Twine Story terminology (#749)
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

feat(extension): add Story metadata completions (#748)
  README.md
  bun.lock
  docs/campfire-storybuilder.md
  package.json
  projects/campfire-vscode-extension/language-configuration.json
  projects/campfire-vscode-extension/package.json
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
  projects/campfire-vscode-extension/tsconfig.json
Due: sort-package-json, prettier --write

fix: update @types/vscode and refactor function declarations for consistency
  bun.lock
  projects/campfire-vscode-extension/package.json
  projects/campfire-vscode-extension/src/extension.ts
Due: sort-package-json, prettier --write

fix: update @types/vscode and refactor function declarations for consistency (#750)
  bun.lock
  projects/campfire-vscode-extension/package.json
  projects/campfire-vscode-extension/src/extension.ts
Due: sort-package-json, prettier --write

fix: disable dependency scan when packaging extension
  docs/campfire-storybuilder.md
  projects/campfire-vscode-extension/package.json
Due: sort-package-json, prettier --write

fix: disable dependency scan when packaging extension (#751)
  docs/campfire-storybuilder.md
  projects/campfire-vscode-extension/package.json
Due: sort-package-json, prettier --write

feat: validate StorySettings options
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

feat: highlight StorySettings options
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

feat: add LICENSE and README for Campfire Storybuilder extension
  projects/campfire-vscode-extension/LICENSE.md
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/package.json
Due: sort-package-json, prettier --write

feat: add LICENSE and README for Campfire Storybuilder extension (#753)
  projects/campfire-vscode-extension/LICENSE.md
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/package.json
Due: sort-package-json, prettier --write

feat(campfire-vscode-extension): embed css/js syntax in user passages
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
Due: sort-package-json, prettier --write

docs: move storybuilder guide into extension project
  README.md
  projects/campfire-vscode-extension/README.md
Due: prettier --write

chore(twee3-extension): generalize story title snippet
  README.md
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/twee3-vscode-extension/README.md
  projects/twee3-vscode-extension/language-configuration.json
  projects/twee3-vscode-extension/package.json
  projects/twee3-vscode-extension/snippets/twee3.code-snippets
  projects/twee3-vscode-extension/src/extension.ts
  projects/twee3-vscode-extension/syntaxes/twee3.tmLanguage.json
  projects/twee3-vscode-extension/tsconfig.json
Due: sort-package-json, prettier --write

fix(campfire-extension): scope to twee files
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/package.json
Due: sort-package-json, prettier --write

feat(twee3-extension): validate storydata ifid
  projects/twee3-vscode-extension/README.md
  projects/twee3-vscode-extension/package.json
  projects/twee3-vscode-extension/src/extension.ts
Due: sort-package-json, prettier --write

fix(twee3-extension): resolve StorySettings diagnostics
  projects/twee3-vscode-extension/src/extension.ts
Due: prettier --write

fix: derive storysettings value range from match
  projects/twee3-vscode-extension/src/extension.ts
Due: prettier --write

feat: validate StorySettings options (#752)
  README.md
  docs/campfire-storybuilder.md
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/package.json
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
  projects/campfire-vscode-extension/syntaxes/campfire.tmLanguage.json
  projects/twee3-vscode-extension/README.md
  projects/twee3-vscode-extension/language-configuration.json
  projects/twee3-vscode-extension/package.json
  projects/twee3-vscode-extension/snippets/twee3.code-snippets
  projects/twee3-vscode-extension/src/extension.ts
  projects/twee3-vscode-extension/syntaxes/twee3.tmLanguage.json
  projects/twee3-vscode-extension/tsconfig.json
Due: sort-package-json, prettier --write

fix: respect indentation when escaping directives
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

feat: implement UUID generation for StoryData IFID values and add MIT License
  projects/campfire-vscode-extension/LICENSE
  projects/twee3-vscode-extension/LICENSE
  projects/twee3-vscode-extension/package.json
  projects/twee3-vscode-extension/src/extension.ts
Due: sort-package-json, prettier --write

fix: treat StorySettings as JSON
  projects/twee3-vscode-extension/snippets/twee3.code-snippets
  projects/twee3-vscode-extension/src/extension.ts
  projects/twee3-vscode-extension/syntaxes/twee3.tmLanguage.json
Due: sort-package-json, prettier --write

feat: implement UUID generation for StoryData IFID values and add MIT License (#755)
  projects/campfire-vscode-extension/LICENSE
  projects/twee3-vscode-extension/LICENSE
  projects/twee3-vscode-extension/package.json
  projects/twee3-vscode-extension/src/extension.ts
Due: sort-package-json, prettier --write

fix(vscode): defer escaping of snippet closers
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix: align if and for directive snippets with docs
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix: document container-only directives
  projects/campfire-vscode-extension/README.md
Due: prettier --write

docs: document overlay directive usage
  docs/directives/overlay-ui.md
Due: prettier --write

docs: document overlay directive usage (#757)
  docs/directives/overlay-ui.md
Due: prettier --write

docs: explain campfire escape markers
  projects/campfire-vscode-extension/README.md
Due: prettier --write

fix(vscode): correct input directive snippets
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix: document for directive usage
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix: remove default for keyword from for snippet
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix(extension): drop default input placeholder
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

docs: clarify input directive forms
  docs/directives/inputs-and-events.md
Due: prettier --write

docs: clarify input directive forms (#758)
  docs/directives/inputs-and-events.md
Due: prettier --write

fix: tighten for snippet spacing
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix: tighten for snippet spacing
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

fix: tighten for snippet spacing (#759)
  projects/campfire-vscode-extension/README.md
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
  projects/campfire-vscode-extension/src/extension.ts
Due: prettier --write

feat: align Campfire directive snippets
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
Due: none

fix(snippets): trim container whitespace
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
Due: none

feat: align Campfire directive snippets (#760)
  projects/campfire-vscode-extension/snippets/campfire.code-snippets
Due: none

Path conditions:
  sort-package-json: any of: *.json
  prettier --write: any of: *.{js,jsx,json,md,mdx,mjs,ts,tsx}
